ul {
  list-style-type: none;
}

body {
  max-width: 80rem;
  margin: 0 auto;
  padding-inline: var(--space-md);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--space-lg);
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-xxs);
  background-color: transparent;
  color: var(--color-text);
  border-radius: var(--border-radius-md);
  padding: var(--space-xxs) var(--space-xs);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-grey-100);
  }
}

.links {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  list-style: none;
}

.habits {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.habit {
  padding: var(--space-md);
  border: 1px var(--color-text) solid;
  border-radius: var(--border-radius-md);
}

.habit__icon {
  width: 48px;
  height: 48px;
  padding: var(--space-xxs);
  border: 1px var(--color-text) solid;
  border-radius: var(--border-radius-md);
}

.habit__header {
  display: flex;
  flex: row;
  padding-block: var(--space-sm);
  gap: var(--space-md);
  justify-content: start;
  align-items: center;
}

.habit__text {
  flex-grow: 1;
}

.habit__buttons {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
}

.grid-container {
  width: 100%;
  overflow-x: auto;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.grid-row {
  display: flex;
  gap: 2px;
}

.grid-box {
  width: 24px;
  height: 24px;
  border-radius: var(--border-radius-sm);
  flex-shrink: 0;
}


